# Dependencias
node_modules/

# Variables de entorno
.env

# Base de datos local
database/database.sqlite

# Logs
logs/
*.log
npm-debug.log*

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/